*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'outfit', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    
}

.card{
    max-width: 21.875rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: hsl(216, 50%, 16%);
    margin: 0 1rem;
    
    /* the box-shadow property is missing */
}

.container {
    position: relative;
    width: 100%;
    
    }

.image{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:hsl(187, 100%, 34%);
    border-radius: 0.5rem;
  }

  .container:hover .overlay {
    opacity: 0.7;
    
  }

  .icon {
    color: white;
    font-size: 6.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

  .icon-view:hover {
    color: hsl(178, 100%, 50%, 0.5);
  }


h1{
    font-size: 1.3rem;
    color: hsl(0, 0%, 100%);
    margin: 1.5rem auto;
    font-weight: 600;
}

a h1:hover{
    color: hsl(178, 100%, 50%);
}

.description{
    color: hsl(215, 51%, 70%);
    margin-bottom: 1.3rem;
}

.detail{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
}

.eth-price{
    display: flex;
    align-items: center;
}

.eth-price img{
    margin-right: 0.375rem;
}

.price{
    color: hsl(178, 100%, 50%);
}

.time-left{
    color: hsl(215, 51%, 70%);
    display: flex;
    align-items: center;
}

.clock{
    margin-right: 0.375rem;
}

hr{
    border-color: hsl(215, 32%, 27%);
    border-style: none none solid;
    margin: 1.2rem auto;
}

.creator{
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-size: 1rem;
}

.creator-image{
    width: 10%;
    border: 0.0625rem solid white;
    border-radius: 100%;
    margin-right: 1rem;
}

a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

a:hover{
    color: hsl(178, 100%, 50%);
}



